@import url("https://fonts.googleapis.com/css2?family=Graduate&display=swap");

body {
  font-family: "Graduate", cursive;
  background: url("./images/nba-crowd.jpeg") no-repeat center center fixed;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  z-index: -1;
  pointer-events: none;
}
